# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies, wherever they are
/node_modules
**/node_modules

# built shared code
directus-cms/shared-code

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

npm-debug.log*

# ignore all locally built extension artifacts
extensions-src/**/dist
