# dependencies
node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# compiled code
build
dist
lib

# IDEs
/.idea

# misc
*.pem

# deploy files
app.yaml

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# other
.firebase
/backups
/setup-scripts

# macos operating system
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# windows operating system
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# linux operating system
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*